*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration-style: none;
}


.text1{
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

div{
    width: 200px;
    height: 200px;
}


